body {
  font-family: Courier;
  margin: 0;
  background-color: black;
}
/*h1 {
  color: white;
}*/
.header {
  padding: 30px;
  text-align: center;
  color: white;
  font-size: 27px;
}
p {
  color: white;
}
.devlog1 {
  color: white;
  padding: 3px;
  font-size: 25px;
}
.devlog1t {
  color: white;
  padding: 2px;
  font-size: 15px;
}
