body {
  background-color: black;
  font-family: Courier;
}
a:visited {
  font-family: Courier;
  color: white;
  text-decoration: none;
}
a:link {
  font-family: Courier;
  color: white;
  text-decoration: none;
}
a:hover {
  font-family: Courier;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
a:active {
  font-family: Courier;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
h1 {
  color: white;
}
p {
  padding: 20px;
  color: white;
}
.title {
  padding: 10px;
  text-align: center;
}
