body {
  font-family: Courier;
  margin: 0;
  background-color: black;
}
a:visited {
  font-family: Courier;
  color: white;
  text-decoration: none;
}
a:link {
  font-family: Courier;
  color: white;
  text-decoration: none;
}
a:hover {
  font-family: Courier;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
a:active {
  font-family: Courier;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
h1 {
  padding: 20px;
  color: white;
}
p {
  padding: 5px;
  color: white;
}
div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: black;
  border: 2px solid #FFFFFF;
}
div.relative {
  position: relative;
  width: 200;
  height: 200;
  border: 0px solid #FFFFFF;
}
div.dev {
  padding: 5px;
  text-align: center;
}
div.title {
  padding: 10px;
  text-align: center;
}
